<div id="main-content-footer-container">
	<div class="footer-container" id="main-reward-footer-left">
		<div class="back-btn-container">
			<button class="button" type="button" name="back-button" onclick="navigateBackToOrderPage()">BACK</button>
		</div>
	</div>

<div class="footer-container" id="main-reward-footer-left2">
		<div id="MealDeal-container">
			<button class="button" type="button" name="insert-mealDeal" onclick="addDeal()"> add-mealDeal </button>
		</div>

	<script>
	datenow = new Date().getTime();

   function addDeal() {
			let dealID = parseInt(document.getElementById("dealID").value, 10);
			let name = parseInt(document.getElementById("name").value, 10);
			let price = parseInt(document.getElementById("price").value, 10);
			let startDate = parseInt(document.getElementById("startDate").value, 10);
			let endDate = parseInt(document.getElementById("endDate").value, 10);
			let courses = parseInt(document.getElementById("courses").value, 10);
			let items = parseInt(document.getElementById("items").value, 10);

			const http = new XMLHttpRequest();
			const url = '/mealDeal';
			http.open('POST', url);
			http.setRequestHeader('Content-type', 'application/json; charset=utf-8');
		
			var coursesArray = courses.split(" ");
			var itemsArray = items.split(" ", coursesArray.length);
			let numberOfCourses = coursesArray.length;

			let json = JSON.parse('{}');
			json.dealID = dealID;
			json.nameID = nameID;
			json.price = price;
			json.startDate = startDate;
			json.endDate = endDate;
			json.numberOfCourses = numberOfCourses;
			
            for(int i = 0 ; i < numberOfCourses ; i++) {
				json.courses[i] = {course: coursesArr[1], numverOfItems: itemsArray[i]}
              }

			http.send(JSON.stringify(json));
			http.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					//window.location.href = '/mealDeal';
				var myWindow = window.open("", "MsgWindow", "width=200,height=100");
				myWindow.document.write("deal: " +dealID+ " " + nameID + "pris: " + price + "  "+ json.courses );

				}
			}
		}

		function updateDeals(){
				let id = document.getElementById("user").value;
				var http = new XMLHttpRequest();
				http.open( "GET", `reward-pages/rewards`, true ); // false for synchronous request
				http.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						let selectDeal = document.getElementById("selectCoupon");
						let deals = JSON.parse(this.responseText);

						for (counter = 0; counter < deals.length; counter++){
							var option1 = document.createElement("option1");
							option1.text = deals[counter].dealID;
							selectDeal.appendChild(option1);
						}
					}
				}
				http.send();
			}
	</script>
	
	<form id="main-reward-footer-left2mod" onsubmit="return false">

			<label for="selectDeal">Velg mealdeal:</label>
			<select id="selectDeal" name="selectDeal" onload="" onchange="updateDeals(); ">
				<option value="none" selected>No deal</option>
				</select><br>

			<label for="dealID">dealID:</label>
			<input id="dealID" type="text" name="dealID" placeholder="dealID">{{ dealID if dealID }}</input><br>
			

			<label for="name">name:</label>
			<input id="name" type="text" name="name" placeholder="navn">{{ name if name}}</input><br>
			

			<label for="price">price:</label>
			<input id="price" type="text" name="price" placeholder="pris" min="0">{{ price if price }}</input><br>
			

			<label for="startDate">startDate:</label>
			<input id="startDate" type="date" name="startDate" placeholder="yyyy-mm-dd" required>{{ startDate if startDate else datenow }}</input><br>
			

			<label for="endDate">endDate:</label>
			<input id="endDate" type="date" name="endDate" placeholder="yyyy-mm-dd" required>{{ endDate if endDate else datenow }}</input><br>
			

			<label for="courses">courses:</label>
			<input id="courses" type="text" name="courses" placeholder="courses">{{ courses if courses}}</input><br>

			<label for="items">items:</label>
			<input id="items" type="text" name="items" placeholder="# of items">{{ "#"}}</input><br>
			</form>
	
</div>

	<div class="footer-container" id="main-reward-footer-middle">
		<form id="main-reward-footer-modifier" onsubmit="return false">
			<script>
//redundant?
			function updateCouponView(){
				let id = document.getElementById("selectCoupon").value;
				let xmlHttp = Get(`reward-pages/${id}?page=coupon`)
				let json = JSON.parse(xmlHttp);
				// let json = xmlHttp;
				let couponID = parseInt(json.CouponID, 10); 
				let expirationDate = json.ExpirationDate;
				let couponType = parseInt(json.Type, 10);
				let couponValue = parseInt(json.Value, 10);
				
				var coupon = document.createElement("coupon");
				coupon.couponID = couponID;
				coupon.expirationDate = expirationDate;
				coupon.type = couponType;
				coupon.value = couponValue;
				document.getElementById("Coupons").appendChild(coupon);

				var myWindow = window.open("", "MsgWindow", "width=200,height=100");
				myWindow.document.write(couponID);
			
		}

			function updateCoupons(){
				let id = document.getElementById("user").value;
				var http = new XMLHttpRequest();
				http.open( "GET", `reward-pages/${id}?page=userCoupons`, true ); // false for synchronous request
				http.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						let selectCoupon = document.getElementById("selectCoupon");
						let userCoupons = JSON.parse(this.responseText);
						coupons = userCoupons.coupons
						document.getElementById("newCoupon").value = coupons[0].coupon
						for (counter = 0; counter < coupons.length; counter++){
							var option = document.createElement("option");
							option.text = coupons[counter].coupon
							selectCoupon.appendChild(option)
						}
					}
				}
				http.send();
			}

			function updateMealDeals(){
				let id = document.getElementById("selectDeal").value;
				let json = Get(`reward-pages/${id}page=mealDeal`);
				let dealID = parseInt(json.dealID);
				let price = parseInt(json.price);
				let name = parse(json.name);
				let startDate = parse(json.startDate);
				let endDate = parse(json.endDate);
				let courses = [{}||{}];
				 courses = json.courses;
				var mealdeal = document.createElement("mealdeal")
				mealdeal.dealID = dealID;
				mealdeal.price = price;
				 mealdeal.name = name;
				 mealdeal.startDate = startDate;
				 mealdeal.endDate = endDate;
				/* for(i=0; i<courses.numberOfItems;i++){
						mealdeal.courses[{courses.CourseID}||{courses.numberOfItems}] = courses[i];
				 }
				 */
				 document.getElementById("MealDeals").appendChild(mealdeal)
				 
			}



			function Get(theUrl){
				var xmlHttp = new XMLHttpRequest();
				xmlHttp.open( "GET", theUrl, true ); // false for synchronous request
				xmlHttp.send();
				/*xmlHttp.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						return this.responseText;
					}*/
				return xmlHttp.responseText;
			}
			//}

		</script>
			<label for="user">User:</label>
			<input id="user" onchange="updateCoupons()" type="text" name="user" placeholder="skriv brukerID"><br>

			<label for="selectCoupon">Velg kupong:</label>
			<select id="selectCoupon" name="selectCoupon" onload="" onchange="updateCouponView(); ">
				<option value="none||none" selected>No coupon</option>
				{% for coupon in coupons %}
				<option value="{{coupon.type}}||{{coupon.value}}">{{ coupon.value }}{{ "%" if coupon.type == 0 else "kr" }}</option>
				{% endfor %}
			</select><br>
			

			<label for="Ctype">type:</label>
			<select id="Ctype" type="text" name="type" placeholder="%"> {{ "%" if Ctype.value == 0 else "kr" }}
			<option value ="0" selected>0</option>
			<option value ="1" selected>1</option>
			 </select><br>

			<label for="Cvalue">value:</label>
			<input id="Cvalue" type="text" name="Cvalue" placeholder="verdi" min="0" max="100">{{ Cvalue if Cvalue}}</input><br>

			<label for="CexpirationDate">expirationDate:</label>
			<input id="CexpirationDate" type="date" name="CexpirationDate" placeholder="skriv inn dato">{{ CexpirationDate if CexpirationDate else datenow}}</input><br>
		</form>
	</div>

	<div class="footer-container" id="main-reward-footer-right">
		<div id="add-btn-container">
			<button class="button" type="button" name="add-button" onclick=" addCoupon();"> addCoupon </button>
		</div>
	

	<script>
		function addCoupon() {
			let type = parseInt(document.getElementById("Ctype").value, 10);
			let value = parseInt(document.getElementById("Cvalue").value, 10);
			let expirationDate = parseInt(document.getElementById("CexpirationDate").value, 10);

			const http = new XMLHttpRequest();
			const url = '/coupons/';
			http.open('POST', url);
			http.setRequestHeader('Content-type', 'application/json; charset=utf-8');

			let json = JSON.parse('{}');
			json.type = type;
			json.value = value;
			json.expirationDate = expirationDate;

			http.send(JSON.stringify(json));

			http.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					let nyeste = JSON.parse(this.responseText);
					document.getElementById("newCoupon").value =  nyeste.CouponID;
					var myWindow = window.open("", "MsgWindow", "width=200,height=100");
				myWindow.document.write("Coupon was made: " + nyeste.CouponID);
				}
			}
		}
	</script>
	</div>

	<div class="footer-container" id="main-reward-footer-right2">

	<label for="newUser">newUser:</label>
			<input id="newUser" type="text" name="newUser" placeholder="ny">{{ User if User}}</input><br>

	<label for="newCoupon">newCoupon:</label>
			<input id="newCoupon" type="text" name="newCoupon" placeholder="nyeste">{{ NewCoupon if NewCoupon}}</input><br>

		<div id="give-btn-container">
			<button class="button" type="button" name="give-button" onclick="giveCoupon()">giveCoupon</button>
		</div>

	
	<script>
		function giveCoupon() {
			let userID = parseInt(document.getElementById("newUser").value, 10);
			let couponID = parseInt(document.getElementById("newCoupon").value, 10);

			const http = new XMLHttpRequest();
			const url = '/user_coupons';
			http.open('POST', url);
			http.setRequestHeader('Content-type', 'application/json; charset=utf-8');

			let json = JSON.parse('{}');
			json.userID = userID;
			json.couponID = couponID;

			http.send(JSON.stringify(json));


			http.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var myWindow = window.open("", "MsgWindow", "width=200,height=100");
				myWindow.document.write("Coupon: " + couponID + " was given: " + userID);
				}
			}
		}
	</script>
	</div>